.auth-header{
    background-color: $blue;
    padding: 8px 0;
    height: 10vh;
     a{
        font-size: 18px;
        color: $white;
        i{
            margin-right: 10px;
        }
     }
}
.section-auth {
  background-image: url(../img/auth/auth-bg.png);
  background-size: cover;
  height: 100vh;
  background-position:top center;
  background-repeat: no-repeat;
  height: 90vh;

  .auth__content {
    background-color: $white;
    bottom: 0;
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 2rem 2rem 4rem 2rem;
    @include down-ss {
      padding: 2rem 1rem 2rem 1rem;
    }
    p{
      font-size: 18px;
      span{
        margin-right: 6px;
      }
      @include down-sm {
        font-size: 14px;
      }
      @include down-ss {
        font-size: 12px;
      }
    }

    a {
      font-size: 18px;
      color: $blue;
      font-weight: 500;
      text-decoration: underline;
      text-underline-position: under;

      @include down-sm {
        font-size: 14px;
      }
      @include down-ss {
        font-size: 12px;
      }
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
      }
      span {
        margin-right: 10px;
      }
    }
    &__heading {
      margin: 3rem 0;
      text-align: center;
      @include down-sm {
        margin: 1.5rem 0;
      }
      h1 {
        font-family: "segoe_uiregular";
        font-size: 36px;
        color: $blue;
        @include down-sm {
          font-size: 24px;
        }
        @include down-ss {
          font-size: 20px;
        }
        @include down-xs {
          font-size: 18px;
        }
        span {
          color: $yellow;
        }
      }
      p {
        font-size: 24px;
        font-family: "segoe_uiregular";
        @include down-sm {
          font-size: 16px;
        }
        @include down-ss {
          font-size: 12px;
        }
      }
    }
    &__text {
        padding: 0 3rem;
        @include down-sm{
            padding: 0 2rem;
        }
        @include down-ss{
            padding: 0 1rem;
        }
      h2 {
        font-size: 24px;
        font-family: "segoe_uiregular";
        margin-bottom: 2rem;
        font-weight: 500;
        @include down-sm {
          font-size: 16px;
          margin-bottom: 1rem;
        }
        @include down-ss {
          font-size: 14px;
        }
      }
      .form-control {
        padding: 1rem;
        font-size: 18px;
        @include down-sm {
          font-size: 14px;
          padding: 10px;
        }
        @include down-ss{
          font-size: 10px;
          padding: 8px;

        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .auth-btn-wrapper {
    text-align: center;
    .btn {
      color: #004d85;
      background-color: #d0dd28;
      padding: 1rem;
      width: 200px;
      font-size: 18px;
      border-radius: 0;
      font-weight: 700;
      @include down-sm {
        padding: 10px;
        font-size: 14px;
      }
      @include down-ss{
        font-size: 10px;
        padding: 8px;
      }
      @include down-ss {
        width: 160px;
        font-size: 12px;
      }
    }
  }
  .otp_input {
    input {
      width: 15%;
      border: none;
      line-height: 54px;
      text-align: center;
      font-size: 24px;
      font-weight: 200;
      border: 1px solid $border-grey;
      border-radius: 10px;
      @include down-sm{
        line-height: 36px;
      }
    }
  }
  .otp--timer{
    a{
        color: $black;
        &:hover{
            text-decoration: underline;
            text-underline-position: under;
        }
        span{
            color: $blue;
            margin-left: 10px;
            text-decoration: none;
        }
    }
  }
  .auth__content--register{
    padding:2rem;
    @include down-ss{
        padding: 1rem;
    }
    .form-check {
        gap: 10px;
        label{
            font-size: 18px;
            @include down-sm{
                font-size: 10px;
            }
            a{
                font-size: 18px;
                text-decoration: none;
                @include down-sm{
                    font-size: 10px;
                }
            }
        }
    }
  }

}


.forget-password{
       .auth__content{
    padding: 2rem 1rem 10rem 1rem;
  }
}
