.explore--search {
  .search {
    position: relative;
    i {
      position: absolute;
      top: 15%;
      left: 1%;
      @include down-ss {
        left: 3%;
      }
    }
    .form-control {
      padding-left: 2.5rem;
      border: none;
      border-bottom: 1px solid $border-grey;
      border-radius: 0;
      @include down-ss {
        font-size: 14px;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.popular--search {
  padding: 2rem 0;

  &__content {
    li {
      display: flex;
      justify-content: space-between;
      color: #757575;
      border-bottom: 1px solid #c2c2c2;
      margin-bottom: 1rem;
      font-size: 24px;
      @include down-sm{
        font-size: 16px;
      }
      @include down-ss{
        font-size: 14px;
      }
      i {
        color: #757575;
        font-size: $medium;
      }
    }
  }
}

.top-institute {
  padding-bottom: 8rem;
  @include down-sm{
    padding-bottom: 4rem;

  }
  @include down-ss{
    padding-bottom: 3rem;

  }
  .cards__content {
    background-color: #f8f8f8;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #C2C2C2;
    &__img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__text {
      padding: 1rem;
      text-align: center;
      p {
        font-size: $medium;
        font-family: "robotomedium";
        color: $blue;
        @include down-sm{
          font-size: 16px;
        }
        @include down-ss{
          font-size: 14px;
        }
        span {
          color: #777777;
        }
      }
    }
  }
}
