.filter_modal {
  .modal-dialog {
    max-width: 100%;
    margin: 0;
    .modal-content {
      height: 100vh;
      border: 0;
      border-radius: 0;
      .modal-header {
        background-color: $blue;
        color: $white;
        a {
          font-size: 16px;
          color: $white;
          font-weight: 500;
        }
        img{
            width: 16px;
            height: 16px;
            object-fit: contain;
            margin-right: 1rem;
        }
      }
      .modal-body {
        padding: 0;
        overflow-x: hidden;
        margin-bottom: 2rem;
        .accordion-item {
          border: none;
          &:first-of-type {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
          }
          .accordion-button {
            &:focus{
                box-shadow: none;
                border: 0;
            }
            padding: 0;
            &:not(.collapsed) {
              color: #ffff;
              background-color: $white;
              box-shadow: none;
            }
            &:not(.collapsed)::after {
              background-image: url(../img/filter-down-toggle.png);
              transform: rotate(-180deg);
            }
            &::after {
              background-image: url(../img/filter-down-toggle.png);
              width: 6px;
              height: 6px;
              padding: 6px;
              background-size: contain;
            }
          }
          .filter-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;
          }
          .accordion-body {
            padding: 0;
            .search {
              position: relative;
              box-shadow: none;
            }
            .bi-geo-alt {
              color: $border-grey;
              position: absolute;
              top: 14px;
              left: 10px;
              display: flex;
              align-items: center;
            }
            .form-control {
              border-radius: 0;
              color: $border-grey;
              height: 40px;
              text-indent: 24px;
              font-size: 12px;
              &:focus{
                box-shadow: none;
              }
            }
            .filters {
            
              a {
                border: 1px solid #f2f2f2;
                background-color: #f2f2f2;
                padding: 6px 6px;
                font-size: 12px;
                text-align: center;
                display: block;
                margin-bottom: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &.active {
                    background-color: $blue;
                    color: $white;
                  }
              }
            }
          }
        }
      }
    }
  }
}
.m-heading {
  color: $blue;
  font-size: 16px;
  text-transform: uppercase;
  a{
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-position: under;
    margin-left: 1rem;
  }
}
hr.filter_bar {
    border-bottom: $blue;
    opacity: 1;
    margin: 0;
    background-color: $blue;
}