.header{
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: $blue;
    @include down-sm{
        padding: 6px 0;
    }
    @include down-xs{
        padding:0;
    }
    .navbar{
        img{
          width: 32%;
          @include down-ss{
            width: 35%;
          }
        }
        i{
            font-size: 46px;
            color: $white;
              @include down-ss{
                font-size: 30px;
              }
        }
         
        a{
          img{
            width: 60px;
            height: 60px;
            object-fit: contain;
            @include down-sm{
              width: 42px;
              height: 42px;
            }
            @include down-sm{
              width: 36px;
              height: 36px;
            }
          }
        }
    }
}

.sub-header{
  background-color: $blue;
  color: $white;
  padding: 10px 0;

  img{
    width: 32px;
    height: 32px;
    @include down-sm{
      width: 20px;
      height: 20px;
    }
  }
  p{
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: under;
    @include down-sm{
      font-size: 14px;
    }
  }

    
  a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    @include down-sm{
      font-size: 16px;
    }
    i{
      font-size: 36px;
      @include down-sm{
        font-size: 18px;
      }
    }
    img{
      width: 40px;
      height: 40px;
      object-fit: contain;
      @include down-sm{
        width: 18px;
        height: 18px;
      }
    }
  }
}