.listing {
  h2 {
    font-size: 18px;
    color: #676767;
    font-weight: 400;
    padding: 1rem 0;
    @include down-sm {
      font-size: 14px;
    }
  }
  .featured-institute__container {
    margin-top: 0;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 2rem;
    .recommended {
      @include down-sm {
        width: 30%;
      }
    }
    .featured-institute__card {
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 2rem;
      .compare-check{
        margin-top: 10px;
        .form-check-input{
          border-radius: 0;
          border: 1px solid #a0a0a0;
          &:focus{
            box-shadow: none;
          }
        }

      .form-check-input:checked[type="checkbox"] {
        background-image: url(../img/tick.png) !important;
        border-radius: 0;
        border: 1px solid #a0a0a0;
      }
      input[type="checkbox"]:checked {
        background-color: var(--white);
      }
      .form-check-label{
        font-size: 16px;
        @include down-sm{
          font-size: 14px;
        }
      }
    }
    }
    .institute-content__container {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #e4e4e4;
      padding-top: 2rem;
      .institute-content {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        @include down-sm {
          gap: 10px;
        }
        &__img {
          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            @include down-sm {
              width: 40px;
              height: 40px;
            }
            @include down-ss {
              width: 24px;
              height: 24px;
            }
          }
        }
        &__text {
          h4 {
            font-size: 18px;
            color: $blue;
            @include down-sm {
              font-size: 16px;
            }
            @include down-ss {
              font-size: 12px;
            }
          }
          p {
            font-size: 18px;
            color: $black;
            @include down-sm {
              font-size: 16px;
            }
            @include down-ss {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .institute-card-btn {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    a {
      font-size: 18px;
      @include down-sm {
        font-size: 16px;
      }
      @include down-ss {
        font-size: 12px;
      }
    }
  }
}
