.splash {
  background-image: url(../img/Splash.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  .splash-bottom {
    position: absolute;
    bottom: 0;
    background-color: $blue;
    padding: 10px 0;
    width: 100%;
    a {
      color: $white;
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 3px;
    }
  }
}
