@mixin down-xs {
  @media (max-width: 375.98px) { @content; }
}
@mixin down-ss {
  @media (max-width: 475.98px) { @content; }
}
@mixin down-sm {
  @media (max-width: 575.98px) { @content; }
}
@mixin down-md {
  @media (max-width: 767.98px) { @content; }
}
@mixin down-lg {
  @media (max-width: 991.98px) { @content; }
}



