
// ======== Colors ========
$black:#000000;
$white:#FFFFFF;
$blue:#004D85;
$yellow:#D0DD28;
$grey:#A3A3A3;
$border-grey:#D9D9D9;


//========= Fonts Sizes ========

$xlarge: 52px;
$large:30px;
$medium:24px;
$regular:18px;
$small:16px;
$xsmall:14px;