@import '../fonts/stylesheet.css';

body {
    font-family: 'poppinsregular';
    background-color: #f8f9fd;
    min-height: 100vh;
}

.form-control:focus {
    box-shadow: none;
}

.login-btn:focus {
    box-shadow: none;
}
.login {

    &-section-wrapper {
        display: flex;
        flex-direction: column;
        padding: 68px 100px;
        background-color: #f8f9fd;

        @media (max-width: 1050px) {
            padding: 68px 57px;
        }

        @media (max-width: 991px) {
            padding: 68px 57px;
        }

        @media (max-width: 575px) {
            padding: 20px;
            min-height: 100vh;
        }

        .logo {
            height: 70px;
        }
    }

    &-wrapper {
        width: 450px;
        max-width: 100%;
        padding: 3rem;
        position: relative;
        background-color: #fff;
        box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);

        @media (max-width: 575px) {
            width: 100%;
            padding: 1rem;
        }

        .form-control {

            min-height: 55px;
            font-size: 18px;
            padding: 13px 20px;
            font-weight: normal;

            &::placeholder {
                color: #b0adad;
            }

            &:focus {
                border-color: #004B83;
            }
        }

        .login-btn {
            padding: 13px 20px;
            background-color: #004B83;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            margin-bottom: 14px;

            &:hover {
                border: 1px solid #004B83;
                background-color: #fff;
                color: #004B83;
            }
        }

        a.forgot-password-link {
            color: #212529;
            font-size: 18px;
            text-decoration: underline;
            text-underline-position: under;
            display: inline-block;

            @media (max-width: 575px) {
                margin-bottom: 16px;
            }

            &:hover {
                color: #004B83;
            }
        }

        &-footer-text {
            font-size: 16px;
            color: #000;
            margin-bottom: 0;
        }
    }

    &-title {
        font-size: 26px;
        color: #004B83;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: 'poppinsbold';
    }

    &-sub-title {
        font-family: 'poppinsregular';
        font-size: 18px;
        margin-bottom: 0;
    }

    &-img {
        width: 100%;
        height: 100vh;
        object-fit: fill;
        object-position: left;
        @media (max-width: 991px) {
            height: auto;
        }
    }
}